

   .digito {
       width: 100px;
       height: 120px;
       background-color: rgb(219, 219, 219);
       color: rgb(0, 0, 0);
       font-family: 'digital-font';
       box-shadow: 0 0 10px rgba(201, 201, 206, 0.555);
   }
   .fondo {
       background-color: rgb(219, 219, 219);
   
   }